<% var num=["一","二","三","四","五"]%>
                                <%for (var i=0; i < 5; i++) {%>
                                    <div id="user<%=i%>" class="hide" >
                                        <div id="legend" class="">
                                            <legend class="">成员
                                                <%=num[i]%>
                                            </legend>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">姓名</label>
                                            <div class="col-md-5">
                                                <input type="text" class="form-control" placeholder="XXX" name="user_name_<%=i%>" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">学号</label>
                                            <div class="col-md-5">
                                                <input type="text" class="form-control" placeholder="20XXXXXXXXXX" name="user_id_<%=i%>" />
                                            </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-md-3 control-label">年级</label>
                                        <div class="col-md-5">
                                            <select class="form-control" name="user_level_<%=i%>">
                                        <option value="" >--选择年级--</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        
                                        <option value="16">16</option>
                                    </select>
                                        </div>
                                    </div>



                                    <div data-toggle="distpicker">
                                        <div class="form-group">

                                            <label class="col-md-3 control-label " for="province1">学院</label>
                                            <div class="col-md-5">
                                                <select class="form-control" id="province1" name="user_collage_<%=i%>"></select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class=" col-md-3 control-label" for="city1">专业</label>
                                            <div class="col-md-5">
                                                <select class="form-control" id="city1" name="user_major_<%=i%>"></select></div>
                                        </div>


                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">联系方式</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" placeholder="158XXXXXXXX/66XXXX" name="user_phone_<%=i%>" />
                                            <p class="help-block">输入长号或短号</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">角色</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" placeholder="XXX" name="user_role_<%=i%>" />
                                        </div>
                                    </div>
                </div>
                <%}%>